#navId{
mix-blend-mode: multiply;
}
#presentation{
  text-align: center;
  padding: 100px;
}
h1{
  font-size: 2em;
  font-weight: 100;
  mix-blend-mode: multiply;
  padding: 50px;
}
html, body {
  height: 100%;
  margin: 0;
}
button{
  margin-top: 6em;
}
#left{
border: 1px solid white;
background: -webkit-linear-gradient(173deg, rgb(255, 154, 177), rgb(250, 217, 98));
background: linear-gradient(173deg, rgb(255, 154, 177), rgb(250, 217, 98));
height: 13em;
text-align: center;
}
#right{
border: 1px solid white;
background: -webkit-linear-gradient(173deg, rgb(255, 154, 177), rgb(250, 217, 98));
background: linear-gradient(173deg, rgb(255, 154, 177), rgb(250, 217, 98));
height: 13em;
text-align: center;
}
